div.speaker h3 {
  padding-top: 0em;
}

.email-collect {
  border: 1px solid #ddd;
  background: #fff;
  margin: 2.5em 0 0;
  overflow: hidden;
}

.email-collect-first {
  margin-top: 0em;
}

.header {
  background-image: url(../images/background.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: scroll;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(92, 92, 106);
}

.when-and-where {
  color: #efe9e0;
}

footer {
    background: #51525a;
    color: #ccccd1;
    font-size: 0.875em;
    display: table-row;
    height: 1px;
}

footer a {
  color: #c56c76
}

.chunk {
  margin-bottom: 2em;
}

.kick-left {
  margin-left: 4%;
}

hr {
  text-align:center;
  margin: 0 auto 2em auto;

}

a.email-content-block {
  text-shadow: none;
}

a.small-nav-link {
  border-bottom: none;
}

.headshot h3 {
  color: #5c626a;
}

.headshot h4 {
  color: #c56c76;
}

.headshot h4::before {
  content: "with ";
  color: #5c626a;
}

img.headshot {
  width: 118px;
  margin: 0.9em 0 0 1em;
  float: right;
  display: block;
}

.speaker-preview .speaker {
  padding-left: 0.75em;
}

.speaker-no-pad {
  padding-left: 0px;
}

.get-ready {
  margin-bottom: 2.5em;
}

.speaker-preview .speaker h3 a {
  color: #5c626a;
}

/* the a background size chane is to fix underlines on speaker names on the index page. */
a {
  background-size: 0px;
}

.button.pink {
  border-color: #c56c76;
  background: #c56c76;
  box-shadow: none;
}

.round-headshot {
  border: 2px solid #c56c76;
}
